.header {
  margin: 28px auto 0;
  min-height: 55px;
  max-width: 320px;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 45px auto 0;
    min-height: 73px;
    max-width: 880px;
  }
}
